@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.contact{
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../image/background.jpg);
    background-size: cover;
    z-index: -100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   
}

 .content{
    max-width: 700px;
    text-align: center;
    margin-top: 90px;
}
.content h2{
    font-size: 36px;
    font-weight: 500;
    color: orangered
}
.container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   

}
.contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column ;
}
.box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 15px;
    background-color: #fff;
}
.text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 200;
}
.text h3{
    font-weight: 300;
    color: purple;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;

}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 300;
}
.inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.inputBox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}
.inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.inputBox input:focus ~ span{
    color: #e91e63;
    font-size: 10px;
    transform: translateY(-20px);
}
.inputBox input:valid ~ span{
    color: #e91e63;
    font-size: 10px;
    transform: translateY(-20px);
}
.inputBox textarea:focus ~ span{
    color: #e91e63;
    font-size: 10px;
    transform: translateY(-20px);
}
.inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 10px;
    transform: translateY(-20px);
}
.inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
}
@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .contactInfo{
        margin-bottom: 40px;
    }
}